<MuiThemeProvider>
  <AppBar
    iconClassNameRight="muidocs-icon-navigation-expand-more"
    iconElementRight={
      <AppBarMyAccount
        user={{
          firstName: 'Olivier',
          lastName: 'Kastel',
          email: 'olivier.kastel@gmail.com'
        }}
        settingsUrl = {'/'}
        signOutUrl = {'/'}
      />
    }
  />
</MuiThemeProvider>
